*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(28,56,121);
    background: linear-gradient(103deg, rgba(28,56,121,1) 1%, rgba(96,126,170,1) 37%, rgba(191,178,146,0.9444152661064426) 79%, rgba(129,126,120,1) 100%);
}


.container{
    margin: 100px auto;
    width: 43%;
    background-color: #98afda;
    height: 425px;
    padding: 0px;
    border-radius: 15px ;
}
.left{
background-image: url(girl.jpg);
float: left;
width: 50%;
height: 425px;
background-size: cover;
box-sizing: border-box;
border-radius: 15px 0 0 15px;
}
.container .right{
    float: right;
    width: 50%;
    height: 425px;
 
box-sizing: border-box;
}
.card-form{
    padding: 42px;
}
h1{
color: rgb(28,56,121);
margin-bottom: 10px;
font-family:'Cursive';
}
input[type="text"] ,input[type="email"],input[type="password"]{
    background-color: #98afda;
    border:none;
    border-bottom: 1px solid rgb(28,56,121);
    padding: 7px;
    margin-bottom: 27px;
outline: none;
color: #fffbf2;
}
input[type="text"] {
    background-color: #98afda;
    border:none;
    border-bottom: 1px solid rgb(28,56,121);
    padding: 7px;
    margin-bottom: 27px;
    color: #fffbf2;
    margin-top: 30px;
outline: none;  
}
button{
    padding: 15px;
    cursor: pointer;
    background-color: rgb(28,56,121);
    border-radius: 16px;
    color: #e2d8c0;
    border: none;
    font-size: 15px;
    /* font-weight: bold; */
}
button:hover{
    background-color: #e2d8c0;
    color:  rgb(28,56,121);
}
